<div class="relative">
  <input
    type="text"
    placeholder="Search"
    class="w-full pl-10 pr-4 py-2
           rounded-lg
           border-none
           bg-gray-100
           text-sm text-gray-900
           placeholder-gray-500
           transition-all duration-300
           focus:outline-none focus:bg-white focus:ring-1 focus:ring-gray-200
           hover:bg-gray-50"
  />
  <div class="absolute left-3 top-1/2 -translate-y-1/2
              pointer-events-none text-gray-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </div>
</div>
